

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Fav icon-->
        <link rel="shortcut icon" type="image/x-icon" href="images/logo.png">
        <title>Pockket Payment Gateway</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- it is connected to two stylesheets -->
        <link rel="stylesheet"  href='css/otp.css'><!-- this is the main stylesheet -->
        <!-- desktop first approach is used for the same. -->
        <link rel="stylesheet" href="css/primary page responsive.css"><!-- this is the style sheet with all the media queries -->
        <!-- this script is just for font awesome fonts -->
        <script src="https://kit.fontawesome.com/2d9b67a497.js" crossorigin="anonymous"></script>
    
    
    </head>
    
    <body>
        <nav class="navigation-bar">
            <!-- this div contains the logo and title os the page -->
            <div class="title-combo">
                <div class="website-logo">
                    <img src="images/logo.png">
                </div>
                <div class="website-name">
                    <h1>
                        <a href='/'>
                        Pockket
                    </a>
                    </h1>
                    <h4>
                        <a href='/' style="color:magenta;">
                        Payment Gateway
                    </a>
                    </h4>
                </div>
            </div>
            
            <!-- this is for search bar -->
            <div class="search-bar">
                <div>
                    <!-- magnifying glass- search icon -->
                    <i class="fas fa-search search-ico"></i>
                </div>
                <input type="text" name="search" placeholder="Search">
                <div>
                        <!-- mic icon -->
                    <i class="fas fa-microphone mic-ico"></i>
                </div>
            </div>
             <!-- this is for notification bell -->
            <div class="notification-bell">
                <img src="images/bell_icon.svg">
    
            </div>
            <!-- this is for profile picture -->
            <div class="profile-picture">
                <img src="images/profile_picture.svg">
            </div>
        </nav>
    </body>

    <div class="container py-5">
        <!-- For demo purpose -->
        <div class="row mb-4">
            <div class="col-lg-8 mx-auto text-center">
                <h1 class="display-6 thank">Thank You !!!</h1>
            </div>
        </div> <!-- End -->

        <div class="row mb-4">
            <div class="col-lg-8 mx-auto text-center"> 
                
                <h1 class="display-6 successful">Please enter your phone number(in international format,starting with+) to receive a verification code:</h1>
                <br>
                
            </div>
        <!-- For demo purpose -->
        <form class="form-inline" method="POST" action="/step2">
            <div class="form-group mb-2">
              
              <input type="tel" name="number" readonly class="form-control-plaintext successful" id="staticEmail2" value="Phone Number">
            </div>
            <div class="form-group mx-sm-3 mb-2">
              
              <input type="password" class="form-control" id="inputPassword2" placeholder="PhoneNumber">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Send OTP </button>
          </form> 
          <br>
        
        </div>
        <div class="row mb-4">
            <div class="col-lg-8 mx-auto text-center"> 
                
                <h1 class="display-6 home"><a href='/'> Home </a></h1>
                
                
            </div>
    </div>
    