:root {
    
    background-image: url(images/Bck.jpg);
    --music-themes-background-image: linear-gradient(
       90deg,
       #833ab4,
       #fd1d1d,
       #fcb045
    );
 }
 body
  {
      
    background-image: url('../images/Bck.jpg');
    margin: 0px;
    font-family: "Segoe UI", Arial, sans-serif;
    
 }
 
 /* removing margin for all the textual elements */
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p 
 {
    margin: 0px;
 }
 /* removing all the styles from the links and formatting them white */
 a 
 {
    text-decoration: none;
    color: white;
 }
 
 /* top navigation bar */
 
 .navigation-bar
 {
     height: auto;
     width: auto;
     background-image: linear-gradient(180deg, black, rgba(0, 0, 0, 0));
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     box-sizing: border-box;
     padding-left: 5%;
     padding-right: 5%;
     transition: all ease-in-out 1s; /* when the navbar loads, every property transits for 1s */
 }
 
 /* all the divs inside the navigation bar should be placed side by side*/
 .navigation-bar > div {
    display: inline-block;
 }
 
 /* animation for the website logo */
 @keyframes rotating
 {
     0%
     {
         transform: rotate(0deg);
     }
     100%
     {
         transform: rotate(360deg);
     }
 }
 
 /* website logo image */
 .website-logo img
 {
     height: 50px;
     width: 50px;
     border-radius: 50px;
     animation-name: rotating;
     animation-timing-function: ease-in-out;
     animation-duration: 1s;
     animation-iteration-count: infinite;
 }
 
 /* website function */
 .website-name h1 
 {
    color: white;
 }
 .website-name h4 
 {
    color: rgb(80, 220, 255);
 }
 
 /* website title and general description */
 .title-combo > div 
 {
    vertical-align: middle;
    display: inline-block;
 }
 
 /* animation for favoutites text */
 @keyframes flexible
 {
     0%
     {
         transform: rotate(0deg);
 
     }
 
     50%
 
     {
         transform: rotateY(360deg);
     }
     75%
     {
         transform: scale(1.2);
     }
     100%
     {
         transform: scale(1);
     }
 }
 
 /* favourites text */
 .favs
  {
    animation-name: flexible;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    /*perspective: 10000px;
    transform-style: preserve-3d;*/
    animation-iteration-count: infinite;
 }
 
 /* search bar */
 .search-bar 
 {
    width: 20%;
    position: relative;
 }
 
 /* changing the default style of the input bar */
 
 .search-bar input
 {
     width: 100%;
     height: 16px;
     text-decoration: none;
     border-radius: 20px;
     border:none;
     padding: 5px;
     font-weight: 500px;
     text-align: center;
     transition: all ease-in-out;
 }
 
 /* search icon for input bar */
 .search-ico 
 {
    color: rgba(0, 0, 0, 0.5);
 }
 /* mic icon for input */
 .mic-ico 
 {
    color: rgba(0, 0, 0, 0.5);
 }
 
 /* search icon */
 .search-bar > div:nth-child(1) 
 {
    display: inline-block;
    position: absolute;
    width: min-content;
    left: 5%;
    top: 10%;
    transition: all ease-in-out 0.1s;
 }
 
 /* mic icon */
 .search-bar>div:nth-child(3)
 {
     display: inline-block;
    position: absolute;
    width: min-content;
    right: 0%;
    top: 10%;
    transition: all ease-in-out 0.1s;
 }
 
 /* when the user clicks on the search bar, there should be no blue outlining */
 input:focus 
 {
    outline: none;
 }
 
 /* animation for bell image */
 @keyframes ringing_bell 
 {
     0%
     {
         transform: rotate(30deg);
     }
     50%
     {
         transform: rotate(-30deg);
     }
     100%
     {
         transform: rotate(30deg);
     }
 
 }
 
 /* notification bell image */
 .notification-bell img 
 {
     width: 30px;
     height: 30px;
     animation-name: ringing_bell;
     animation-duration: 0.5s;
     animation-timing-function: ease-in-out;
     animation-iteration-count: infinite;
 }
 
 /* profile picture of the user */
 .profile-picture img
 {
     width: 30px;
     height: 30px;
     border-radius: 100%;
 }